//
// Theme style
//

// Initialize
@import "init";

// Components
@import "core/components/components";
@import "components/components";

// Layout
@import "core/layout/base/layout";
@import "layout/layout";

html {
  height: 100%;
}

body {
  height: 100%;
}

main#main {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

